

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    display: flex;
}

.main-content-wrapper {
    width: 90%;
}

.side-content-wrapper {
    width: 10%;
}

section {
    margin-bottom: 20px;
    padding: 10px;
}

section h2 {
    margin-bottom: 10px;
    padding-left: 5px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
}

section p {
    padding-left: 5px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 25px;
    color: #000;
}

hr {
    margin: 10px 0;
    border: 2px solid #eee;
}

ul {
    margin: 10px 0;
    padding-left: 40px;
}

ul li {
    margin-bottom: 10px;
}

/* Personal-details-section */
.personal-details-section {
    margin-bottom: 20px;
    height: 250px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-picture {
    width: 30%;
    height: 100%;
    padding: 10px;
    border-right: 7px solid #eee;
}

.personal-info {
    width: 65%;
    padding: 10px;
}

.personal-info h1 {
    margin-bottom: 10px;
    padding-left: 5px;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 56px;
    text-transform: uppercase;
}

.personal-info p {
    margin-bottom: 5px;
    /* font-size: 1rem;
    font-weight: 500;
    line-height: 26px; */
}

/* Objective Section */


/* Education Section */
.college-degree,
.o-levels {
    margin-bottom: 10px;
}

/* Work Experience Section */
.job {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 0;
}

.job .company {
    margin-bottom: 15px;
}

.role-title {
    margin-top: 20px;
}

.achievements {
    margin-top: 20px;
}


/* Skills Section */
.skills-list-wrapper {
    display: flex;
}

.skills-list-wrapper .column-2 {
    margin-left: 20px;
}

.skills .skills-list-wrapper ul li{
    margin-bottom: 20px;
}